@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.DashboardContainer p {
	animation: countUp 3s ease-in-out infinite;
  }
  
  @keyframes countUp {
	from {
	  transform: translateY(-10px);
	}
	to {
	  transform: translateY(0);
	}
  }

body {
  background: #ffffff; /* Set light gray background color */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}


* {
	box-sizing: border-box;
}

html {
	
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 16px;
	line-height: 1.45;
}


:is(h1, h2, h3) {
	
	line-height: 1.1;
	margin: 0;
}

h2 {
	margin-block-start: 1rem;

}


main {
	background: hsl(218, 55%, 87%);
	box-shadow: 0 0.125rem 0.375rem hsl(225deg 20% 30% / 0.125);
}

.custom-heading {
  font-size: 36px;
  font-weight: bold;
  color: #165eab; /* Set your desired text color */
  text-align: center;
  padding-bottom: 50px;
  /* Add more styles as needed */
}

header {
	align-items: baseline;
	display: flex;
	font-size: 0.875rem;
	justify-content: space-between;
  
	padding: 1rem min(5%, 1rem);
  color: #ffffff;
  background-color: rgb(52, 74, 237);
  
	& a {
		text-decoration: none;
	}

	& a[rel="home"] {
		font-weight: 900;
	}
}

nav {
	display: flex;
	gap: 1rem;
}


main {
  
  box-shadow: none; /* Remove box shadow from main content */
  padding: 1rem;
}


.start-btn,
button {
	background: hsl(225, 87%, 56%);
	border: none;
	border-radius: 0.125rem;
	color: hsl(240, 27%, 92%);
	display: inline-block;
	font-weight: 700;
	padding: 0.5rem 1rem;
	text-decoration: none;
	text-transform: uppercase;
	transition: all linear 150ms;

	&:is(:active, :hover, :focus) {
		background: hsl(225deg 70% 40% / 1);
	}
}

.button:hover {
  background-color: #45a049;
}

:is(h1, h2, h3) {
	color: hsl(224, 9%, 49%);
	line-height: 1.1;
	margin: 0;
}
.app-actions {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	margin-block-start: 1rem;
}

.card {
	background: rgba(65, 130, 236, 0.841);
	box-shadow: 0 0.125rem 0.25rem hsl(225deg 20% 30% / 0.125);
	display: flex;
	flex-direction: column;
	padding: 1rem;
	width: calc(33% - 2 / 3 * 1rem);

	& p {
		margin-block: 0.5rem 1rem;
	}

	& button {
		margin-block-start: auto;
	}
}


footer {
  flex-wrap:wrap;
  font-size:0.75rem;
  display: flex;
  justify-content: center;
  gap:2rem;
  background-color: rgb(56, 56, 246);
  color: #ffffff;
  & a {
    color: inherit;
  }
}