.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.largeBox {
  flex: 1;
  background-color: #cfe2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.buttonContainer {
  position: fixed;
  bottom: 40px; /* Adjust the distance from the bottom of the screen */
  left: 40px; /* Adjust the distance from the left margin of the screen */
  z-index: 1; /* Ensure the button appears above other content */
}

.buttonn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.buttonn:hover {
  background-color: #45a049;
}

.profileContainer {
	display: flex;
	justify-content: space-around;
	padding: 20px;
}
  
.personalDetails {
	width: 300px;
	padding: 20px;
	border: 1px solid #ccc;
}
  
.personalDetails h2 {
	margin-bottom: 10px;
}
  
.statsContainer {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
  
.statsBox {
	width: 300px;
	padding: 20px;
	border: 1px solid rgb(143, 185, 208);
}
  
.profileImg {
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin-top: 10px;
}
  


/* .loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
  }
  
  .loginTitle {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .label {
    text-align: left;
    margin-bottom: 0.5rem;
  }
  
  .input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  .loginButton {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .loginButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  } */
  